
<h5>Como importar seu extrato</h5>
<div style='font-size: 0.8rem'>
  <ol>
    <li>Acesse o internet banking do seu banco: <i>Conta Corrente</i> <%= fa_icon 'caret-right' %> <i>Extrato</i></li>
    <li>Selecione o período desejado.</li>
    <li>Faça o download do extrato para <i>Money 98, 99 ou 2000</i>, a extensão do arquivo deve ser <code>.ofx</code></li>
    <li>Clique no bottão <button onclick="" class="btn btn-primary btn-sm" style='height: 20px; font-size: 0.5rem; pointer-events: none' ><%= fa_icon 'cloud-upload' %> Procurar</button></li>
    <li>Selecione o extrato baixado anteriormente</li>
  </ol>
</div>

<%= form_for(@statement) do |f| %>
  <%= f.label :file, class: 'btn btn-primary' do %>
    <%= fa_icon 'cloud-upload' %><span id='upload-text'> Procurar</span>
  <% end %>
  <%= f.file_field :file, style: 'display: none' %>
<% end %>
<script>
  $(document).on('ready turbolinks:load', function(){

    var isOfx = function(filename){
      return !!filename.match(/\.ofx$/i);
    }

    $('#statement_file').change(function(e){
      var filename = this.files[0].name;
      if (!isOfx(filename)) {
        $('label.btn').removeClass('btn-primary').addClass('btn-danger');
        alert('Extensão não suportada! Escolha um arquivo com extensão .ofx');
        e.preventDefault();
        return;
      }

      $('#new_statement').submit();
    });
  });
</script>
