<%= form_for(@goal, class: 'form-inline') do |f| %>
  <div class='form-group'>
    <%= f.label 'Categoria', for: :goal_category %>
    <%= f.select :category_id,
      options_from_collection_for_select(Category.order(:display_name), :id, :display_name, @goal.category&.id),
      { include_blank: 'Selecione' },
      { class: 'form-control' } 
    %>
  </div>
  <div class='form-group'>
    <%= f.label 'Valor máximo', for: :goal_max %>
    <%= f.number_field :max, class: 'form-control' %>
  </div>
  <% unless @goal.errors.empty? %>
    <h3>Erros:</h3>
    <ul>
      <% @goal.errors.full_messages.each do |e| %>
        <li><%= e %></li>
      <% end %>
    </ul>
  <% end %>
  <%= f.submit class: 'btn btn-success' %>
<% end %>
