<h1>Meta: <%= @goal %></h1>
<%= render partial: 'progressbar', locals: { progress: @progress } %>
<p>Investido: <%= @total %></p>
<p>Média de <%= @avg_by_month.round(2) %> pelos ultimos <%= @months %> meses.</p>
<p>Você vai ter <%= @goal %> em <%= l(@estimated, format: '%d/%m/%Y') %></p>
