<%= link_to 'Nova meta!', new_goal_path, class: 'btn btn-primary' %>
<table class="table table-stripped">
  <thead>
    <tr>
      <th>Categoria</th>
      <th>Meta</th>
      <td></td>
    </tr>
  </thead>
  <% @goals.each do |goal| %>
    <tr>
      <td><%= Category.find(goal.category_id).display_name %></td>
      <td><%= goal.max %></td>
      <td>
        <%= link_to edit_goal_url(goal) do %><%= fa_icon 'edit' %><% end %>
        <%= link_to goal_url(goal), method: :delete do %><%= fa_icon 'trash' %><% end %>
      </td>
    </tr>
  <% end %>
</table>
