<%if @d %><h1><%= link_to @d.strftime("%B"), "/transactions/#{@d.year}/#{@d.month}/", class: 'no-text-decoration' %></h1><% end %>
<% if @transactions.length > 0 %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Categoria</th>
        <th scope="col">Entrada</th>
        <th scope="col">Saida</th>
      </tr> 
    </thead>
    <tbody>
      <% @transactions.each do |t| %>
        <tr>
          <td><%= link_to t.display_name, "/transactions/#{@d.year}/#{@d.month}?category=#{t.category_name}", class: 'no-text-decoration' %></td>
          <td><%= t._credit %></td>
          <td>
            <span>
            <%= t._debit %>
            <% if t._debit && t._debit < 0 %>
              <% goal = current_user.goals.joins(:category).find_by(categories: { name: t.category_name}) %>
              <% if goal %>
                <small style='font-size: 0.5rem'>
                  <%= (t._debit * -1 * 100 / goal.max).round %> %
                </small>
              <% end %>
            <% end %>
            </span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Entrada</th>
        <th>Saída</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Total</th>
        <td id='total-credit'><%= @total_in %></td>
        <td id='total-debit'><%= @total_out %></td>
      </tr>
    </tbody>
  </table>
<% else %>
  Sem dados!
<% end %>
