<%= render 'month_header' %>
<% if @lines > 0 %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Categoria</th>
        <th scope="col">Entrada</th>
        <th scope="col">Saida</th>
        <th scope="col" data-toggle="tooltip" data-placement="top" title="Comparação com mesmo dia do mes anterior: (<%= l(1.month.ago, format: '%d/%m') %>)">Mês Anterior</th>
      </tr> 
    </thead>
    <tbody>
      <% @transactions.each do |t| %>
        <tr>
          <td><%= link_to t.display_name, "/transactions/#{@d.year}/#{@d.month}?category=#{t.category_id}", class: 'no-text-decoration' %></td>
          <td><%= t._credit %></td>
          <td>
            <span>
            <%= t._debit %>
            <% if t._debit && t._debit < 0 %>
              <% goal = current_user.goals.joins(:category).find_by(categories: { id: t.category_id}) %>
              <% if goal %>
                <small style='font-size: 0.5rem'>
                  <%= (t._debit * 100 / goal.amount).round %> %
                </small>
              <% end %>
            <% end %>
            </span>
          </td>
          <td>
            <%= @prev_month_amount[t.category_id] if @prev_month_amount && @prev_month_amount[t.category_id] %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Entrada</th>
        <th>Saída</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Total</th>
        <td id='total-credit'><%= @total_in %></td>
        <td id='total-debit'><%= @total_out %></td>
      </tr>
    </tbody>
  </table>
<% else %>
  Sem dados!
<% end %>
