<%if @d %><h1><%= link_to @d.strftime("%B"), "/transactions/#{@d.year}/#{@d.month}/", class: 'no-text-decoration' %></h1><% end %>
<% unless @transactions.nil? %>
  Categorizado:
  <%= render partial: 'progressbar', locals: { progress: @progress } %>
<% end %>
<% if @transactions.count > 0 %>
<table class="table table-striped large-table">
  <thead>
    <tr>
      <th scope="col"><div class='text-center'>Data</div></th>
      <th scope="col"><div class='text-center'>Memo</div></th>
      <th scope="col"></th>
      <th scope="col"><div class='text-center'>Categoria</div></th>
      <th scope="col"><div class='text-center'>Entrada</div></th>
      <th scope="col"><div class='text-center'>Saída</div></th>
      <th scope="col"><div class='text-center'>Saldo    </div></th>
    </tr> 
  </thead>
  <tbody>
    <% @transactions.each do |t| %>
      <tr>
        <td>
          <%= render 'txcell', header: 'Data', value: l(t.date, format: "%d/%m/%Y") %>
        </td>
        <td>
          <div class='text-left mobile-only'>
            <small>Memo</small>
          </div>
          <div class='memo'>
            <%= link_to("#{t.memo}", "/transactions/#{@d.year}/#{@d.month}/fuzzy/?pattern=".html_safe + t.memo, class: 'no-text-decoration') %>
          </div>
        </td>
        <td class='status empty'>
          <%= fa_icon 'check-circle', class: 'hidden success' %>
          <%= fa_icon 'exclamation-circle', class: 'hidden failure' %>
          <%= fa_icon 'spinner', class: 'loading hidden' %>
        </td>
        <td class='category'>
          <%= render 'txcell', header: 'Categoria',
            value: select_tag('category',
                               categories(t).html_safe,
                               class: 'category-select custom-select',
                               'data-transaction' => t.id.to_s,
                               style: "background-color: #{t.category&.color || 'white'}",
                               id: nil)
          %>
        </td>
        <% [%w[credit  Entrada], 
            %w[debit   Saída],
            %w[balance Saldo]
           ].each do |attr, header| %>
            <td class="<%= 'empty' if t.send(attr).nil? %>">
              <%= render 'txcell', header: header, value: t.send(attr) %>
            </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<h3>Total</h3>
<table class="table">
  <tbody>
    <tr>
      <th>Entrada</th>
      <td id='total-credit' class='text-center'><%= @transactions.where('transactions.amount > 0').sum('transactions.amount') %></td>
    </tr>
    <tr>
      <th>Saída</th>
      <td id='total-debit'  class='text-center'><%= @transactions.where('transactions.amount <= 0').sum('transactions.amount') %></td>
    </tr>
    <% if @statement %>
    <tr>
      <th>Saldo em <%= l(@statement.date, format: "%d/%m/%Y") %></th>
      <td                   class='text-center'><%= @statement.balance%></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  Sem dados!
<% end %>
