<%= link_to 'anterior', "/transactions/#{@d.prev_month.year}/#{@d.prev_month.month}", class: 'btn btn-primary' %>
<%= link_to 'proximo', "/transactions/#{@d.next_month.year}/#{@d.next_month.month}", class: 'btn btn-primary'  %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Memo</th>
      <th scope="col">Value</th>
    </tr> 
  </thead>
  <tbody>
    <% @transactions.each do |t| %>
      <tr>
        <td><%= t.date %></td>
        <td><%= t.memo %></td>
        <td><%= t.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>
