<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">dezmil</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item <%= 'active' if params[:controller] == 'transactions' %>">
          <%= link_to 'Extrato', '/', class: 'nav-link' %>
        </li>
        <li style='display: none' class="nav-item <%= 'active' if params[:controller] == 'transactions' && params[:action] == 'charts' %>">
          <%= link_to 'Gráficos', transactions_charts_path(@d.year, @d.month), class: 'nav-link' %>
        </li>
        <li class="nav-item <%= 'active' if params[:controller] == 'statements'%>">
          <%= link_to 'Importar', '/statements/new', class: 'nav-link' %>
        </li>
        <div class="dropdown-divider"></div>
        <li class="nav-item <%= 'active' if params[:controller] == 'devise/invitations' %>">
          <%= link_to 'Convide um amigo', new_user_invitation_path, class: 'nav-link' %>
        </li>
        <div class="dropdown-divider"></div>
        <li class="nav-item <%= 'active' if params[:controller] == 'devise/invitations' %>">
          <%= link_to 'Planejamento', goals_url, class: 'nav-link' %>
        </li>
        <div class="dropdown-divider"></div>
        <li class="nav-item">
          <%= link_to 'Sair', :destroy_user_session, method: :delete, class: 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Entrar', :new_user_session, class: 'nav-link' %>
        </li>
      <% end %>	
    </ul>
    <% if user_signed_in? && !@d.nil? %>
      <form class="form-inline my-2 my-lg-0" action="/transactions/<%= @d.year %>/<%= @d.month %>/" method="get" >
        <input id='search' class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="pattern">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    <% end %>
  </div>
</nav>
