<!DOCTYPE html>
<html>
  <head>
    <title>dezmil</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
  </head>

  <body>
    <%= render 'header' %>
    <div class='alerts'>
      <% flash.each do |level, message| %>
        <div class="alert alert-<%= level %> alert-dismissible fade show"><%= message %></div>
      <% end %>
    </div>
    <%= yield %>
    <%= render 'footer' %>
  </body>
</html>
